# Credit Card Fraud Detection using Machine Learning

# About Data:
This is a dataset containing credit card transactions with 31 features and a class label. The features represent various aspects of the transaction, and the class label indicates whether the transaction was fraudulent (class 1) or not (class 0).

The first feature is "Time", which represents the number of seconds elapsed between the transaction and the first transaction in the dataset. The next 28 features, V1 to V28, are anonymized variables resulting from a principal component analysis (PCA) transformation of the original features. They represent different aspects of the transaction, such as the amount, location, and type of transaction.

The second last feature is "Amount", which represents the transaction amount in USD. The last feature is the "Class" label, which indicates whether the transaction is fraudulent (class 1) or not (class 0).

Overall, this dataset is used to train machine learning models to detect fraudulent transactions in real-time. The features are used to train the model to learn patterns in the data, which can then be used to detect fraudulent transactions in future transactions.

In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [23]:
credit_card_data = pd.read_csv('creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [24]:
credit_card_data.sample()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
30396,35905.0,0.209239,-0.424388,0.561821,-2.75376,-0.176394,-1.712027,-0.678929,-1.224204,-2.316581,...,0.612374,-0.528802,-1.119954,0.435348,0.980821,-0.358309,0.149806,0.224347,15.0,0

In [25]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [26]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [27]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

The first line of code creates a new dataframe called "legit" by selecting only the rows from the original "credit_card_data" dataframe where the "Class" label is equal to 0. In other words, it filters out all transactions labeled as fraudulent (Class == 1) and keeps only the legitimate transactions (Class == 0).

The second line of code creates a new dataframe called "fraud" by selecting only the rows from the original "credit_card_data" dataframe where the "Class" label is equal to 1. This filters out all legitimate transactions and keeps only the fraudulent transactions.

By separating the data into two dataframes, it becomes easier to analyze and compare the characteristics of legitimate and fraudulent transactions separately. This can be useful for identifying patterns or features that are more common in fraudulent transactions, which can then be used to develop models for fraud detection.

In [28]:
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data['Class']==1]

In [29]:
fraud['Class']

541       1
623       1
4920      1
6108      1
6329      1
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 492, dtype: int64

In [30]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

- **count** indicates the total number of transactions in the dataset that have a valid "Amount" value (i.e., non-missing values).
- **mean** is the average transaction amount for all the transactions in the dataset. In this case, the mean is 88.291022, indicating that the average transaction amount is around 88 USD.
- **std** is the standard deviation of the transaction amounts. It is a measure of how spread out the transaction amounts are from the mean. In this case, the standard deviation is 250.105092, which indicates that the transaction amounts vary widely, with some transactions having very large amounts.
- **min** is the smallest transaction amount in the dataset. In this case, the smallest transaction amount is 0.0, indicating that there may be some transactions with zero value or very low value.
- **25%** is the first quartile of the transaction amounts. It indicates the value below which 25% of the transactions fall. In this case, the first quartile is 5.65, indicating that 25% of the transactions have a value less than or equal to 5.65 USD.
- **50%** is the median transaction amount, which is the value that separates the lower half of the transactions from the upper half. In this case, the median is 22.0, indicating that half of the transactions have a value less than or equal to 22 USD.
- **75%** is the third quartile of the transaction amounts. It indicates the value below which 75% of the transactions fall. In this case, the third quartile is 77.05, indicating that 75% of the transactions have a value less than or equal to 77.05 USD.
- **max** is the largest transaction amount in the dataset. In this case, the largest transaction amount is 25,691.16, indicating that there may be some transactions with very large values.

In [31]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [32]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

legit_sample = legit.sample(n=492) is a line of code that takes a random sample of 492 observations from the legit dataset. This is done to balance the number of observations in the legit and fraud datasets, which is necessary for training a machine learning model to predict fraud. Since the original dataset has a large number of legitimate transactions and a small number of fraudulent transactions, the model may be biased towards predicting that all transactions are legitimate. By creating a balanced dataset with an equal number of legitimate and fraudulent transactions, the model can be trained to better recognize the patterns that differentiate fraudulent transactions from legitimate ones

In [33]:
legit_sample = legit.sample(n=492)

In [34]:
new_df = pd.concat([legit_sample,fraud],axis=0)

In [35]:
new_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
49387,44035.0,1.048240,-0.671406,0.507297,-0.555352,-1.330463,-1.219759,-0.225442,-0.106913,1.787080,...,0.061400,0.121969,-0.132450,0.710876,0.544051,-0.652251,0.043448,0.044384,104.74,0
132889,80159.0,-0.324945,1.159499,1.552299,0.938313,0.010531,-0.698535,0.679526,-0.310730,-0.395840,...,-0.272369,-0.515294,-0.053281,0.345700,-0.520617,0.276440,0.071228,-0.020424,3.59,0
108664,71012.0,-6.723038,5.192834,0.461140,-3.722238,0.608219,-0.641066,3.138575,-2.656826,8.054123,...,-1.895469,-0.291042,-0.319439,-0.083150,0.841665,0.302839,-0.167103,-2.500475,1.54,0
224583,143870.0,-1.780266,2.030640,-0.281290,-0.327526,0.093321,-1.216434,0.493518,0.622186,-0.569661,...,0.228217,0.595744,-0.546082,-0.069941,1.116427,0.119761,0.014773,0.051860,11.09,0
205296,135677.0,1.630188,-1.405793,-2.816764,-0.322298,0.007247,-1.229272,0.884561,-0.607252,-1.387575,...,0.113015,0.215178,-0.415043,-0.253641,0.391305,0.987497,-0.187043,-0.051465,322.18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [36]:
new_df['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [37]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96304.166667,-0.007586,0.108886,0.027976,-0.024852,0.145920,-0.016454,-0.019660,-0.009788,-0.011871,...,-0.013631,-0.038858,-0.005877,-0.009810,0.059802,0.021188,0.015570,0.034496,-0.019106,63.929411
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [38]:
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

# Model Training

Logistic Regression

In [40]:
model=LogisticRegression()

In [41]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9466327827191868

In [43]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9390862944162437

In [44]:
# Predictions on test data
X_test_predictions = model.predict(X_test)

# Display predictions
for i, prediction in enumerate(X_test_predictions):
    if prediction == 0:
        print(f"Sample {i + 1}: Legitimate transaction")
    else:
        print(f"Sample {i + 1}: Fraudulent transaction")

Sample 1: Fraudulent transaction
Sample 2: Legitimate transaction
Sample 3: Legitimate transaction
Sample 4: Legitimate transaction
Sample 5: Fraudulent transaction
Sample 6: Legitimate transaction
Sample 7: Fraudulent transaction
Sample 8: Fraudulent transaction
Sample 9: Legitimate transaction
Sample 10: Fraudulent transaction
Sample 11: Legitimate transaction
Sample 12: Fraudulent transaction
Sample 13: Fraudulent transaction
Sample 14: Legitimate transaction
Sample 15: Legitimate transaction
Sample 16: Fraudulent transaction
Sample 17: Legitimate transaction
Sample 18: Fraudulent transaction
Sample 19: Legitimate transaction
Sample 20: Legitimate transaction
Sample 21: Legitimate transaction
Sample 22: Legitimate transaction
Sample 23: Legitimate transaction
Sample 24: Fraudulent transaction
Sample 25: Legitimate transaction
Sample 26: Fraudulent transaction
Sample 27: Fraudulent transaction
Sample 28: Legitimate transaction
Sample 29: Fraudulent transaction
Sample 30: Fraudulent transaction
Sample 31: Fraudulent transaction
Sample 32: Fraudulent transaction
Sample 33: Legitimate transaction
Sample 34: Fraudulent transaction
Sample 35: Fraudulent transaction
Sample 36: Legitimate transaction
Sample 37: Legitimate transaction
Sample 38: Legitimate transaction
Sample 39: Legitimate transaction
Sample 40: Fraudulent transaction
Sample 41: Fraudulent transaction
Sample 42: Legitimate transaction
Sample 43: Legitimate transaction
Sample 44: Fraudulent transaction
Sample 45: Fraudulent transaction
Sample 46: Fraudulent transaction
Sample 47: Fraudulent transaction
Sample 48: Fraudulent transaction
Sample 49: Legitimate transaction
Sample 50: Legitimate transaction
Sample 51: Legitimate transaction
Sample 52: Legitimate transaction
Sample 53: Legitimate transaction
Sample 54: Legitimate transaction
Sample 55: Legitimate transaction
Sample 56: Legitimate transaction
Sample 57: Legitimate transaction
Sample 58: Fraudulent transaction
Sample 59: Legitimate transaction
Sample 60: Legitimate transaction
Sample 61: Fraudulent transaction
Sample 62: Fraudulent transaction
Sample 63: Fraudulent transaction
Sample 64: Fraudulent transaction
Sample 65: Fraudulent transaction
Sample 66: Legitimate transaction
Sample 67: Fraudulent transaction
Sample 68: Legitimate transaction
Sample 69: Legitimate transaction
Sample 70: Fraudulent transaction
Sample 71: Legitimate transaction
Sample 72: Legitimate transaction
Sample 73: Legitimate transaction
Sample 74: Legitimate transaction
Sample 75: Fraudulent transaction
Sample 76: Fraudulent transaction
Sample 77: Legitimate transaction
Sample 78: Fraudulent transaction
Sample 79: Fraudulent transaction
Sample 80: Fraudulent transaction
Sample 81: Legitimate transaction
Sample 82: Fraudulent transaction
Sample 83: Fraudulent transaction
Sample 84: Fraudulent transaction
Sample 85: Legitimate transaction
Sample 86: Legitimate transaction
Sample 87: Legitimate transaction
Sample 88: Legitimate transaction
Sample 89: Legitimate transaction
Sample 90: Legitimate transaction
Sample 91: Legitimate transaction
Sample 92: Fraudulent transaction
Sample 93: Fraudulent transaction
Sample 94: Fraudulent transaction
Sample 95: Fraudulent transaction
Sample 96: Fraudulent transaction
Sample 97: Fraudulent transaction
Sample 98: Fraudulent transaction
Sample 99: Legitimate transaction
Sample 100: Fraudulent transaction
Sample 101: Fraudulent transaction
Sample 102: Fraudulent transaction
Sample 103: Fraudulent transaction
Sample 104: Legitimate transaction
Sample 105: Fraudulent transaction
Sample 106: Legitimate transaction
Sample 107: Legitimate transaction
Sample 108: Legitimate transaction
Sample 109: Legitimate transaction
Sample 110: Legitimate transaction
Sample 111: Legitimate transaction
Sample 112: Legitimate transaction
Sample 113: Legitimate transaction
Sample 114: Legitimate transaction
Sample 115: Legitimate transaction
Sample 116: Fraudulent transaction
Sample 117: Fraudulent transaction
Sample 118: Legitimate transaction
Sample 119: Legitimate transaction
Sample 120: Fraudulent transaction
Sample 121: Legitimate transaction
Sample 122: Legitimate transaction
Sample 123: Legitimate transaction
Sample 124: Legitimate transaction
Sample 125: Fraudulent transaction
Sample 126: Legitimate transaction
Sample 127: Legitimate transaction
Sample 128: Fraudulent transaction
Sample 129: Legitimate transaction
Sample 130: Fraudulent transaction
Sample 131: Fraudulent transaction
Sample 132: Legitimate transaction
Sample 133: Legitimate transaction
Sample 134: Fraudulent transaction
Sample 135: Legitimate transaction
Sample 136: Fraudulent transaction
Sample 137: Legitimate transaction
Sample 138: Fraudulent transaction
Sample 139: Legitimate transaction
Sample 140: Fraudulent transaction
Sample 141: Legitimate transaction
Sample 142: Legitimate transaction
Sample 143: Fraudulent transaction
Sample 144: Fraudulent transaction
Sample 145: Legitimate transaction
Sample 146: Legitimate transaction
Sample 147: Fraudulent transaction
Sample 148: Legitimate transaction
Sample 149: Fraudulent transaction
Sample 150: Legitimate transaction
Sample 151: Legitimate transaction
Sample 152: Fraudulent transaction
Sample 153: Fraudulent transaction
Sample 154: Fraudulent transaction
Sample 155: Legitimate transaction
Sample 156: Legitimate transaction
Sample 157: Fraudulent transaction
Sample 158: Fraudulent transaction
Sample 159: Legitimate transaction
Sample 160: Legitimate transaction
Sample 161: Legitimate transaction
Sample 162: Fraudulent transaction
Sample 163: Legitimate transaction
Sample 164: Fraudulent transaction
Sample 165: Fraudulent transaction
Sample 166: Legitimate transaction
Sample 167: Legitimate transaction
Sample 168: Fraudulent transaction
Sample 169: Legitimate transaction
Sample 170: Fraudulent transaction
Sample 171: Fraudulent transaction
Sample 172: Legitimate transaction
Sample 173: Fraudulent transaction
Sample 174: Fraudulent transaction
Sample 175: Legitimate transaction
Sample 176: Fraudulent transaction
Sample 177: Legitimate transaction
Sample 178: Legitimate transaction
Sample 179: Legitimate transaction
Sample 180: Legitimate transaction
Sample 181: Fraudulent transaction
Sample 182: Fraudulent transaction
Sample 183: Legitimate transaction
Sample 184: Legitimate transaction
Sample 185: Fraudulent transaction
Sample 186: Legitimate transaction
Sample 187: Legitimate transaction
Sample 188: Legitimate transaction
Sample 189: Legitimate transaction
Sample 190: Legitimate transaction
Sample 191: Fraudulent transaction
Sample 192: Fraudulent transaction
Sample 193: Legitimate transaction
Sample 194: Fraudulent transaction
Sample 195: Fraudulent transaction
Sample 196: Fraudulent transaction
Sample 197: Legitimate transaction